.profile__info {
  margin: 0;
  max-width: 486px;
  display: flex;
}

@media (max-width: 900px) {
  .profile__info {
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}  