.footer__caption {
  max-width: 318px;
  min-height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media (max-width: 600px) {
  .footer__caption {
    max-width: 282px;
    min-height: 14px;
    font-size: 14px;
    line-height: 17px;  }
}