.popup__container {
  position: fixed;
  max-width: 430px;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .popup__container {
    max-width: 600px;
    bottom: auto;
    right: auto;
    width: 88%;
  }
}