.popup-edit__sub-btn {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  margin: 47px auto 37px auto;
  transition: opacity .5s;
  cursor: pointer;
  padding: 0;
}

.popup-edit__sub-btn:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .popup-edit__sub-btn {
    margin-top: 45px;
  }
}

@media (max-width: 900px) {
  .popup-edit__sub-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}