.elements {
  display: grid;
  margin: 0 auto 67px auto;
  gap: 20px 17px;
  justify-content: center;
  grid-template-columns: 282px 282px 282px;
}

@media (max-width: 900px) {
  .elements {
    grid-template-columns: 282px 282px;
  }
}

@media (max-width: 600px) {
  .elements {
    grid-template-columns: 282px;
    margin-bottom: 48px;
  }
}