.popup-edit__form_sub-btn {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  margin: 0 auto 0 auto;
  transition: opacity .5s;
  cursor: pointer;
}

.popup-edit__form_sub-btn:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .popup-edit__form_sub-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}