.form-edit__close-btn {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background: none;
  padding: 0;
  border: none;
  transition: opacity .5s;
}

.form-edit__close-btn:hover {
  opacity: 0.6;
}