.profile-info__caption_subtitle {
  margin: 0;
  width: 336px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .profile-info__caption_title {
  }
}

@media (max-width: 900px) {
  .profile-info__caption_title {
    font-size: 14px;
    line-height: 18px;
    }
}

@media (max-width: 585px) {
  .profile-info__caption_title {
  }
}

@media (max-width: 690px) {
  .profile-info__caption_title {
  }
}