.profile-info__caption_subtitle {
  margin: 0;
  width: 336px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .profile-info__caption_subtitle {
    font-size: 14px;
    line-height: 17px;
    height: 14px;
    }
}

@media (max-width: 600px) {
  .profile-info__caption_subtitle {
    width: 160px;
    }
}