.profile-info__caption_title {
  max-width: 294px;
  height: 39px;
  margin: 0 0 16px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .profile-info__caption_title {
    width: 189px;
    height: 26px;    
    margin-bottom: 14px;
    font-size: 38px;
    line-height: 44px;
    font-size: 27px;
    line-height: 33px;
    }
}