.popup-edit__form_input-desc {
  width: 358px;
  height: 27px;
  display: flex;
  margin: 0 auto 48px auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .popup-edit__form_input-desc {
    width: 238px;
    margin-bottom: 30px;
  }
}