.element {
  margin: 0;
  width: 282px;
  height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
}

@media (max-width: 1280px), (min-width: 1281px) {
  .element {
  }
}

@media (max-width: 1024px) {
  .element {
  }
}

@media (max-width: 768px) {
  .element {
  }
}

@media (max-width: 690px) {
  .place {
  }
}