.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 900px) {
  .header {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 600px) {
  .header {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    min-height: 56px;
  }
}