.popup-edit__input {
  width: 358px;
  display: flex;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto 38px auto;
}

@media (max-width: 600px) {
  .popup-edit__input {
    margin-bottom: 37px;
  }
}

@media (max-width: 900px) {
  .popup-edit__input {
    width: 238px;
  }
}